<form>
    <input type="text" [(ngModel)]="user.userName" required minlength="3" name="username" #username="ngModel"  placeholder="Username" />
    <div class="input-error" *ngIf="username.errors && (username.dirty || username.touched)">
                    <span>Username is required</span>
                </div>
    <input type="text" [(ngModel)]="user.password" required name="password" #password="ngModel" placeholder="Password" />
    <div class="input-error" *ngIf="password.errors && (password.dirty || password.touched)">
                    <span>Password is required</span>
                </div>
                <button [disabled]="username.errors || password.errors" (click)="onSubmit()">Submit</button>
</form>